# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.ionic/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
www/
node_modules/
tmp/
temp/
platforms/
plugins/
plugins/android.json
plugins/ios.json
$RECYCLE.BIN/


*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
.*~
*~
#*#
.#*
.*.swp
.*.rej
*.rej
thumbs.db
Thumbs.db
*.DotSettings
*.bak
*_.java
*.class
*.classes
*.mine
*.obj
*.ncb
*.lib
*.log
*.idb
*.pdb
*.ilk
*.orig
*.msi*
.res
*.suo
*.exp
*.*~
*.~*
~*.*
cvs
CVS
.CVS
.cvs
.git
.DS_Store
*.DS_Store
release
Release
debug
Debug
ignore
Ignore
bin
Bin
obj
Obj
*.csproj.user
*.user
*.sln.DotSettings
*.sln.DotSettings.user
*.Publish.xml
.settings
.project
.classpath
target
*.MF
*Maven_Ant_Builder.launch
*maven-eclipse.xml
*.iml
*.idea*

# Ignore NuGet Packages
*.nupkg

# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*

# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/

# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config

# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# Ignore other intermediate files that NuGet might create. project.lock.json is used in conjunction
# with project.json (NuGet v3); project.assets.json is used in conjunction with the PackageReference
# format (NuGet v4 and .NET Core).
project.lock.json
project.assets.json
.vs
packages/
README.md

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
