<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="MySql" connectionString="Server=localhost;Database=etien;Uid=etien_db_user;Pwd=3t13ndbus3r" />
  </connectionStrings>


  <appSettings>
    <add key="JWT_SECRET_KEY" value="clave-secreta-api" />
    <add key="JWT_AUDIENCE_TOKEN" value="http://localhost:53397" />
    <add key="JWT_ISSUER_TOKEN" value="http://localhost:53397" />
    <add key="JWT_EXPIRE_MINUTES" value="30" />
    <add key="PasswordSaltLenght" value="32" />
  </appSettings>
</configuration>