<form (ngSubmit)="sendNotification()" class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <strong>Enviar Notificación</strong>
                    <small>Selecciona los filtros</small>
                </div>
                <div class="card-body">
                    <div class="form-group row col-sm-12">
                        <label for="multiple-select-country">Selecciona el/los paises a notificar</label>
                        <select id="multiple-select-contry" name="multiple-select-country" class="form-control" size="5"
                            multiple [(ngModel)]="selectedCountries">
                            <option *ngFor="let country of countries" [ngValue]="country.id">{{country.Name}}</option>
                        </select>
                    </div>
                    <div class="form-group row col-sm-12">
                        <label for="multiple-select-interest">Selecciona el/los intereses a notificar</label>
                        <select id="multiple-select-interest" name="multiple-select-interest" class="form-control"
                            size="5" multiple [(ngModel)]="selectedPreferences">
                            <option *ngFor="let preference of preferences" [ngValue]="preference.id">{{preference.Name}}</option>
                        </select>
                    </div>
                    <div class="form-group row col-sm-12">
                        <label for="title">Título de la notificación</label>
                        <input type="text" class="form-control" id="title" placeholder="Título" ([ngModel])="messageTitle">
                    </div>
                    <div class="form-group row col-sm-12">
                        <label for="textarea-input">Mensaje de la notificacion</label>

                        <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control"
                            placeholder="Notificación!" ([ngModel])="messageToSend"></textarea>

                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i>
                        Enviar!</button>
                    <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
                </div>
            </div>
        </div>
    </div>
</form>