<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <strong>Enviar Notificación</strong>
                    <small>Selecciona los filtros</small>
                </div>
                <div class="card-body">
                    <div class="form-group row col-sm-12">
                        <label for="multiple-select-country">Selecciona el/los paises a notificar</label>
                        <select id="multiple-select-contry" name="multiple-select-country" class="form-control" size="5"
                            multiple>
                            <option value="1">Option #1</option>
                            <option value="2">Option #2</option>
                            <option value="3">Option #3</option>
                            <option value="4">Option #4</option>
                            <option value="5">Option #5</option>
                            <option value="6">Option #6</option>
                            <option value="7">Option #7</option>
                            <option value="8">Option #8</option>
                            <option value="9">Option #9</option>
                            <option value="10">Option #10</option>
                        </select>
                    </div>
                    <div class="form-group row col-sm-12">
                        <label for="multiple-select-interest">Selecciona el/los intereses a notificar</label>
                        <select id="multiple-select-interest" name="multiple-select-interest" class="form-control"
                            size="5" multiple>
                            <option value="1">Option #1</option>
                            <option value="2">Option #2</option>
                            <option value="3">Option #3</option>
                            <option value="4">Option #4</option>
                            <option value="5">Option #5</option>
                            <option value="6">Option #6</option>
                            <option value="7">Option #7</option>
                            <option value="8">Option #8</option>
                            <option value="9">Option #9</option>
                            <option value="10">Option #10</option>
                        </select>
                    </div>
                    <div class="form-group row col-sm-12">
                        <label for="textarea-input">Mensaje de la notificacion</label>

                        <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control"
                            placeholder="Notificación!"></textarea>

                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i>
                        Enviar!</button>
                    <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
                </div>
            </div>
        </div>
    </div>
</div>